Source: galliumos-virtualbox
Section: admin
Priority: required
Maintainer: Colton DRG <coltondrg@coltondrg.com>
XSBC-Original-Maintainer: Colton DRG <coltondrg@coltondrg.com>
Standards-Version: 3.9.1

Package: galliumos-virtualbox
Architecture: all
Priority: required
Depends: galliumos-base, linux-image-4.4.0-22-generic, linux-headers-4.4.0-22-generic, linux-image-extra-4.4.0-22-generic
Provides: galliumos-device
Conflicts: galliumos-haswell, galliumos-device-c710, galliumos-broadwell, galliumos-sandy
Description: Documentation and configuration for VirtualBox
 This package contains documentation and configuration files for GalliumOS for VirtualBox
